<!DOCTYPE html>
<html lang="fr">
    {%load static%}
    <head>
        <meta lang="fr">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Associates in Development and Local Solutions (ADLS)</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" href="favicon.ico">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
         {% block content %}
        
        
        {% endblock content %}
        <body>
            <div class="header">
                <div class="container">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <div class="navbar-header">
                            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand scroll-top">
                                <div class="logo"><img src="img/medium.png" style="width: 100px;/*height: 182px;*/"></div>
                            </a>
                        </div>
                        <!--/.navbar-header-->
                        <div id="main-nav" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#" class="scroll-link" data-id="who-we-are"><strong>Who we are</strong></a></li>
                                <li><a href="#" class="scroll-link" data-id="our-v-p"><strong>Value &amp; Principle</strong></a></li>
                                <li><a href="#" class="scroll-link" data-id="our-services"><strong>services</strong></a></li>
                                <li><a href="#" class="scroll-link" data-id="our-s-m"><strong>Strategy &amp; Missions</strong></a></li>
                                <li><a href="#" class="scroll-link" data-id="our-s-m"><strong>Countries</strong></a></li>
                                <li><a href="#" class="scroll-link" data-id="contact"><strong>Contact</strong></a></li>
                                <li><a href="https://adlocalsolutions.org/fr/" class="scroll-linkt" data-id="FR" title="Way to french version"><strong>FR <img src="img/france.png" alt=""></strong></a></li>
                
                            </ul>
                        </div>
                        <!--/.navbar-collapse-->
                    </nav>
                    <!--/.navbar-->
                </div>
                <!--/.container-->
            </div>
            <!--/.header-->
        
        
            <section class="cd-hero">
                <ul class="cd-hero-slider autoplay">  
                <!-- 
                    <ul class="cd-hero-slider autoplay"> for slider auto play 
                    <ul class="cd-hero-slider"> for disabled auto play
                -->
                    <li class="first-slide move-left">
                        <div class="cd-full-width">
                            <div class="tm-slide-content-div slide-caption">
                                <span>Associates in Development and Local Solutions (ADLS)</span>
                                <h2>ADLS</h2>
                                <p>The cult of excellence is an obsession for us. It translates into a permanent desire to achieve the expected results and satisfaction of the partners.</p>
                                                         
                            </div>                   
                        </div> <!-- .cd-full-width -->
                    </li>
        
                    <li class="second-slide selected from-right">
                        <div class="cd-full-width">
                            <div class="tm-slide-content-div slide-caption">
                                <span>Associates in Development and Local Solutions (ADLS)</span>
                                <h2>ADLS</h2>
                                <p>Beyond the adage "is true only what really works", the partners share the same desire to be simple, fast and properly.</p>
                                                       
                            </div>                     
                        </div> <!-- .cd-full-width -->
                    </li>
        
                    <li class="third-slide">
                        <div class="cd-full-width">
                            <div class="tm-slide-content-div slide-caption">
                                <span>Associates in Development and Local Solutions (ADLS)</span>
                                <h2>ADLS</h2>
                                <p>We are as committed to the human and professional values of our clients, beneficiaries, and employees. This humanistic dimension in our principles of operation and development contributes to the success of the firm's missions.</p>
                            </div>                         
                        </div> <!-- .cd-full-width -->
                    </li>
                </ul> <!-- .cd-hero-slider -->
        
                <div class="cd-slider-nav">
                    <nav>
                        <span class="cd-marker item-2"></span>
                        
                        <ul>
                            <li class=""><a href="#0"></a></li>
                            <li class="selected"><a href="#0"></a></li>
                            <li class=""><a href="#0"></a></li>                        
                        </ul>
                    </nav> 
                </div> <!-- .cd-slider-nav -->
            </section> <!-- .cd-hero -->
        
            <div id="who-we-are">
                <div id="what-we-do">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center" style="
            background-color: white;
            box-shadow: 0px 0px 15px #cdcdcd;
        ">
                                <div class="left-text">
                                    <h4>WHO WE ARE</h4>
                                    <p>We are a local firm bringing together indivIduals with diverse expertises and over 30 years of combined experiences working with multilateral donors and International organizations providing programmatic and operational support. <br> Our results are produced by the complementarity of the expertise of our inhouse teams, partners and the network of experts we have available to support our clients.<br><br>We are a multilingual interlocutor predisposed to participate fully in the development effort of West Africa. <br><br></p>
                                    <ul>
                                        <li>
                                            <div class="primary-button">
                                                <a href="./services.html"><strong>More about us</strong></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        
            <div id="our-v-p">
                <div id="about" class="page-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading">
                                    <h4>Our Values and Principles</h4>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item first-service">
                                    <div class="icon"></div>
                                    <h4>Excellence</h4>
                                    <p><br><br><br>The cult of excellence is an obsession for us. It translates into a permanent desire to achieve the expected results and satisfaction of the partners.<br><br><br></p>
                                </div>
                            </div>
                             <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item second-service">
                                    <div class="icon"></div>
                                    <h4>Pragmatism</h4>
                                    <p><br><br><br>Beyond the adage "is true only what really works", the partners share the same <br> desire to be simple, fast and properly. <br><br><br></p>
                                </div>
                            </div>
                             <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item third-service">
                                    <div class="icon"></div>
                                    <h4>Pedagogic</h4>
                                    <p>Pedagogy is one of the founding pillars of our companies. How to tackle complex issues in a simple and effective way? How to take into account the context and needs of all actors? How to drive change through appropriate pedagogy? It is to all these questions that we work to answer in our missions of support and collaboration.</p>
                                </div>
                            </div>
                             <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item fourth-service">
                                    <div class="icon"></div>
                                    <h4>Humanism</h4>
                                    <p><br>We are as committed to the human and professional values of our clients, beneficiaries, and employees. This humanistic dimension in our principles of operation and development contributes to the success of the firm's missions.<br><br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="our-services">
                <div id="fun-facts">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading2">
                                    <h4>Our Services</h4>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="fact-item">
                                    <i class="fas fa-truck" aria-hidden="true" style="
            margin: 0 auto;
            display: block;
            font-size: 37px;
        "></i>
                                    <a href="./services.html"><strong><span>LOGISTIC  SERVICES </span></strong></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="fact-item">
                                    <i class="fas fa-user-cog" style="
            margin: 0 auto;
            display: block;
            font-size: 37px;
        "></i>
                                    <a href="./services.html"><strong><span>Capacity <br> Building </span></strong></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="fact-item">
                                    <i class="far fa-edit" style="
            margin: 0 auto;
            display: block;
            font-size: 37px;
        "></i>
                                    <a href="./services.html"><strong><span>Proposal <br> writing </span></strong></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="fact-item">
                                    <i class="fas fa-tasks" style="
            margin: 0 auto;
            display: block;
            font-size: 37px;
        "></i>
                                    <a href="./services.html"><strong><span>Project operational coordination</span></strong></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="fact-item">
                                    <img src="../img/s16.jpeg" height="37">
                                    <a href="./services.html"><strong><span>Monitoring, Evaluation &amp; Reporting </span></strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading2">
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="display: flex;justify-content: center;">
                                <div class="section-heading2">
                                    <ul>
                                        <li>
                                            <div class="primary-button">
                                                <a href="./services.html"><strong>More about our services </strong></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="our-s-m">
                <div id="about" class="page-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading">
                                    <h4>Our Strategy And Mission</h4>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-text">
                                    <h4><strong>Strategy</strong></h4>
                                    <br>
                                    <p>Our operational and organizational proximity, our knowledge of the local context, our flexible approach methods and our ability to listen, position us as a preferred partner. <br><br> This strategic support offers many services and ensures that solutions are adapted to the challenges and specific national contexts. <br><br></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="left-text">
                                    <h4><strong>Mission</strong></h4>
                                    <br>
                                    <p>■	Strengthen the capacity of the workforce in the private and public sectors for them to become essential to the economic and social development environment, <br> <br>
                                        ■	Assist development actors to optimize development investment  and assess the impact of development effort 
                                         <br><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-heading">
                                        <h4>COUNTRIES</h4>
                                        <div class="line-dec"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="display: flex;justify-content: center;">
                                <div class="left-text">
                                    <h4><img src="img/MALI.png" width="38" alt="">   <strong>MALI</strong>  <br> <br>   <img src="img/Guinee.jpg" width="38" alt=""> <strong>GUINEA</strong> </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="contact" class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h4>Contact Us <p style="color: white;">Adresse : Immeuble Kelly Baco-djicoroni Bamako Mali<br>
        Email   : contacts@adlocalsolutions.org<br>
        Contact : +22374720072</p></h4>
                                
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15575.154847701022!2d-8.017813!3d12.5961723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73dde0644eb1400a!2sImmeuble%20Kelly!5e0!3m2!1sfr!2sfr!4v1606680855734!5m2!1sfr!2sfr" width="570" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                              <form id="contact" action="contact.php" method="post">
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="First Name And Last Name" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                      <input name="phone" type="tel" class="form-control" id="email" placeholder="Number" required="">
                                    </fieldset>
                                  </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p>Copyright © 2020 ADLS
                                
                                - Design: <a href="https://www.facebook.com/adntechs">ADN TECH</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/ad.local.7/"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/ad-local-a997ba203"><i class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-rss"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        
            <script src="js/vendor/bootstrap.min.js"></script>
        
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script>
        
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript">
            $(document).ready(function() {
                // navigation click actions 
                $('.scroll-link').on('click', function(event){
                    event.preventDefault();
                    var sectionID = $(this).attr("data-id");
                    scrollToID('#' + sectionID, 750);
                });
                // scroll to top action
                $('.scroll-top').on('click', function(event) {
                    event.preventDefault();
                    $('html, body').animate({scrollTop:0}, 'slow');         
                });
                // mobile nav toggle
                $('#nav-toggle').on('click', function (event) {
                    event.preventDefault();
                    $('#main-nav').toggleClass("open");
                });
            });
            // scroll function
            function scrollToID(id, speed){
                var offSet = 50;
                var targetOffset = $(id).offset().top - offSet;
                var mainNav = $('#main-nav');
                $('html,body').animate({scrollTop:targetOffset}, speed);
                if (mainNav.hasClass("open")) {
                    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                    mainNav.removeClass("open");
                }
            }
            if (typeof console === "undefined") {
                console = {
                    log: function() { }
                };
            }
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" type="text/javascript"></script>
            <script src="https://kit.fontawesome.com/3d6fe253e8.js" crossorigin="anonymous"></script>
        
        <div id="lightboxOverlay" class="lightboxOverlay" style="display: none;"></div><div id="lightbox" class="lightbox" style="display: none;"><div class="lb-outerContainer"><div class="lb-container"><img class="lb-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="><div class="lb-nav"><a class="lb-prev" href=""></a><a class="lb-next" href=""></a></div><div class="lb-loader"><a class="lb-cancel"></a></div></div></div><div class="lb-dataContainer"><div class="lb-data"><div class="lb-details"><span class="lb-caption"></span><span class="lb-number"></span></div><div class="lb-closeContainer"><a class="lb-close"></a></div></div></div></div></body>
</html>