{% extends 'base.html' %}

{% block content %}

  <div class="header active">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-link" data-id="who-we-are"><strong>Who we are</strong></a></li>
                    <li><a href="#" class="scroll-link" data-id="our-v-p"><strong>Value &amp; Principle</strong></a></li>
                    <li><a href="#" class="scroll-link" data-id="our-services"><strong>services</strong></a></li>
                    <li><a href="#" class="scroll-link" data-id="our-s-m"><strong>Strategy &amp; Missions</strong></a></li>
                    <li><a href="#" class="scroll-link" data-id="our-s-m"><strong>Countries</strong></a></li>
                    <li><a href="#" class="scroll-link" data-id="contact"><strong>Contact</strong></a></li>
                    <li><a href="https://adlocalsolutions.org/fr/" class="scroll-linkt" data-id="FR" title="Way to french version"><strong>FR <img src="img/france.png" alt=""></strong></a></li>
    
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
{% endblock content %}